// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages-list .list-group-item {
  margin-bottom: 2em;
  background-color: white;
  color: black;
  font-size: 1em;
}

#message-form textarea {
  resize: none;
}


#message-form {
  margin-bottom: 2em;
}

#logo {
  height:60px;
  width: 60px;
}

.navbar-brand span {
  display: block;
  font-size: 12px;
  font-family: 'Garamond', 'Helvetica';
  text-align: center;
}

#top-nav {
  height: 89px;
}

.nav li a {
 display: inline;
 line-height: 89px;
 text-align: right;
}

.nav li a:hover {
 text-decoration: underline;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #4e5d6c;
  font-size: 11px;
}

.footer .container {
  height: 60px;
}

.footer .container p {
  margin-bottom: 0;
  line-height: 60px;
  text-align: center;
 }

.footer .container p:after {
  content:" \00a9";
}

em {
  font-size: 12px;
}
